@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* colors */
  --primary: #222222;
  --secondary: #777777;
  --background: #ffffff;
  --text-primary: #777777;
  --text-dark: #222222;
  --success: #7ed321;
  --info: #2d9cdb;
  --warning: #f8e71c;
  --danger: #d0021b;
  --light: #f7f9fc;
  --lighter: #e3e8ee;
  --lightest: #d1d8e0;
  --dark: #4a4a4a;
  --darker: #2a2a2a;
  --darkest: #121212;

  /* Font Sizes  */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  /* Font Weights */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* Spacing  */
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-5: 1.25rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  /* Border Radius */
  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  color: var(--text-dark);
  font-family: 'Jost';
}
/* Text Utilities */
.text-xs {
  font-size: var(--text-xs);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}
.text-light {
  font-weight: var(--font-light);
}
.text-bold {
  font-weight: var(--font-bold);
}
.text-medium {
  font-weight: var(--font-medium);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

/* Margin Utilities */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: var(--spacing-1);
}
.m-2 {
  margin: var(--spacing-2);
}
.m-4 {
  margin: var(--spacing-4);
}
.m-8 {
  margin: var(--spacing-8);
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Padding Utilities */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: var(--spacing-1);
}
.p-2 {
  padding: var(--spacing-2);
}
.p-4 {
  padding: var(--spacing-4);
}
.p-8 {
  padding: var(--spacing-8);
}

.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap {
  gap: var(--spacing-3);
}

.heading {
  text-align: center;
  margin-block: 2em 0.5em;
  font-size: clamp(1.625rem, 5vw, 2.5rem);
  font-weight: var(--font-normal);
}
